<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta name="google-signin-client_id" content="22705282070-u8depo5tckdvp7damoi2sjpcscttjo9u.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <div id="g_id_onload"
        data-client_id="22705282070-u8depo5tckdvp7damoi2sjpcscttjo9u.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin" data-type="standard"></div>

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function signOut() {
            // Implement sign-out logic if needed
            console.log('User signed out.');
        }

        function handleCredentialResponse(response) {
            var id_token = response.credential; //creates a JWT with user information


            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/login');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function() {
            console.log('Signed in as: ' + xhr.responseText);
            };
            xhr.send(JSON.stringify({token: id_token}));

        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
</body>
</html>